

/* QUESTIONS */

.group-description-container {
    margin-bottom: 10px;
}
.group-description {
    border:1px solid #eee;
    min-height: 50px;
    max-height: 150px;
    overflow-y: auto;
    padding: 5px;
}

.small-form {
    width: 25%;
    max-width: 25%;
}

.group-action-buttons-container {
    display: flex;
    flex-direction: column;
}

.handle {
   cursor:move;
}

/* ASSOCIATIONS */
.student-name-caption {
  max-height: 50px;
}

.student-copy-caption {
  max-height: 95px;
}

/* GENERIC */
.flex-center {
  display: flex;
  align-items: center;
}
