<div class="box informationbox well">
    <div class="box generalbox">
      <p> {{#str}}associating_sheets_identified, mod_amcquiz, {"automatic" : {{#quote}}{{nbauto}}{{/quote}}, "manualy" : {{#quote}}{{nbmanual}}{{/quote}}, "unknown" : {{#quote}}{{nbunknown}}{{/quote}}} {{/str}}</p>

      <form action="view.php?id={{cm.id}}&current=associate" method="post">
          <input type="hidden" name="action" value="launch-association" />
          <button type="submit" class="btn btn-primary">
                {{#str}}associating_launch_association, mod_amcquiz{{/str}}
          </button>
      </form>
      <hr/>
      <form class="form-inline" action="view.php" method="get">
          <input type="hidden" name="id" value="{{cm.id}}">
          <input type="hidden" name="current" value="associate">
          <div class="form-group">
              <label for="association-mode-select">{{#str}}associationmode, mod_amcquiz{{/str}}</label>
              <select id="association-mode-select" class="form-control custom-select submit-on-change" name="mode">
                  {{#associationmodes}}
                      <option value={{value}} {{#selected}}selected{{/selected}}>{{label}}</option>
                  {{/associationmodes}}
              </select>
          </div>
          <div class="form-group">
              <label for="association-user-modes">{{#str}}associationusermode, mod_amcquiz{{/str}}</label>
              <select id="association-user-modes" class="form-control custom-select submit-on-change" name="usermode">
                  {{#usermodes}}
                      <option value={{value}} {{#selected}}selected{{/selected}}>{{label}}</option>
                  {{/usermodes}}
              </select>
          </div>
      </form>
      <hr/>
      {{#showpager}}
        {{&pager}}
        <hr/>
      {{/showpager}}
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-striped">
            <tbody>
              {{#usersdata}}
                <tr>
                  <td>
                    <img class="student-name-caption" src="{{url}}" alt="{{filecode}}"></img>
                  </td>
                  <td>
                      <form action="view.php?id={{cm.id}}&current=associate" method="post">
                          <input type="hidden" name="action" value="associate-name" />
                          <input type="hidden" name="filecode" value="{{filecode}}" />
                          <select name="idnumber" class="custom-select form-control submit-on-change">
                            {{#addemptyoption}}
                            <option value="">--</option>
                            {{/addemptyoption}}
                            {{#students}}
                              <option value="{{value}}" {{#selected}} selected {{/selected}}>{{label}}</option>
                            {{/students}}
                          </select>
                      </form>
                  </td>
                <tr>
              {{/usersdata}}
              {{^usersdata}}
                <h4>{{#str}}associating_no_data_for_query, mod_amcquiz{{/str}}</h4>
              {{/usersdata}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
