<div class="box informationbox well">
    <div class="box generalbox">
      <div class="row">
          <div class="col-lg-12 text-lg-right">
            <a href="{{settingsurl}}">{{#str}}settings, core{{/str}}</a>
          </div>
          <div class="col-lg-10 text-lg-left">
            <h4><i style="display:none;" class="fa fa-refresh fa-spin export-process-spiner"></i></h4>
          </div>
      </div>
      <hr/>
      <div class="row">
          <div class="col-lg-2">
            <button type="button" role="button" class="btn btn-default amcquiz-btn-export" name="button">{{#str}}documents_generate, mod_amcquiz{{/str}}</button>
          </div>
          <div class="col-lg-10 text-lg-left">
            <h4><i style="display:none;" class="fa fa-refresh fa-spin export-process-spiner"></i></h4>
          </div>
      </div>
      <div class="row documents-links">

      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-12">
          <button type="button" role="button" class="btn btn-danger" name="button">
            <i class="fa fa-trash fa-fw"></i>{{#str}}documents_delete_unrecognized_sheets, mod_amcquiz{{/str}}
          </button>
          <h6>{{#str}}documents_unrecognized_sheets, mod_amcquiz{{/str}}</h6>          
        </div>
      </div>
    </div>
</div>
