<div class="box informationbox well">
    <div id="questions-part-selected" class="box generalbox">
      <div class="row">
          <div class="col-lg-2">
            <button type="button" class="btn btn-default amcquiz-btn-export" name="button">Générer</button>
          </div>
          <div class="col-lg-10 text-lg-left">
            <h4><i style="display:none;" class="fa fa-refresh fa-spin export-process-spiner"></i></h4>
          </div>
      </div>

    </div>
</div>
