<div class="box informationbox well">
    <div class="box generalbox">
      <div class="row">
          <div class="col-lg-12 text-lg-right">
            <a href="{{settingsurl}}">{{#str}}settings, core{{/str}}</a>
          </div>
      </div>
      <hr/>
      <div class="row">
          <div class="col-lg-2">
            <form action="view.php?id={{cmid}}&current=documents" method="post">
              <input type="hidden" name="action" value="export">
              <button type="submit" class="btn btn-default amcquiz-btn-export" name="button">{{#str}}documents_generate, mod_amcquiz{{/str}}</button>
            </form>

          </div>
          <div class="col-lg-10 text-lg-left">
            <h4><i style="display:none;" class="fa fa-refresh fa-spin export-process-spiner"></i></h4>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 documents-container">

        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-12 text-lg-right">
            <form action="view.php?id={{cmid}}&current=documents" method="post">
                <input type="hidden" name="action" value="delete-unrecognized-sheets">
                <button type="submit" class="btn btn-danger">
                  <i class="fa fa-trash fa-fw"></i>{{#str}}documents_delete_unrecognized_sheets, mod_amcquiz{{/str}}
                </button>
            </form>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-lg-12">
          <h5>{{#str}}documents_unrecognized_sheets, mod_amcquiz{{/str}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 unrecognized-container">

        </div>
      </div>
    </div>
</div>
