<div class="box informationbox well">
    <div id="questions-part-selected" class="box generalbox">
        <div class="row">
          <div class="col-lg-8 text-lg-left">
            <span id="nb-questions">{{#str}}question_nb_questions, mod_amcquiz{{/str}} : {{amcquiz.nbquestions}}</span>
            |&nbsp;<span id="grademax">{{#str}}modform_grademax, mod_amcquiz{{/str}} : {{amcquiz.parameters.grademax}}</span>
            |&nbsp;<span>{{#str}}totalmarksx, mod_quiz{{/str}} <span id="scoresum">{{amcquiz.scoresum}}</span></span>
          </div>
          <div class="col-lg-2 text-lg-right">
            <a href="{{questionbankurl}}" class="btn btn-default"  title="{{#str}}question_create_new_help, mod_amcquiz{{/str}}" target="_blank">
                <i class="fa fa-plus"></i>&nbsp;{{#str}}question_create_new, mod_amcquiz{{/str}}
            </a>
          </div>
          <div class="col-lg-2 text-lg-right">
            <form class="small-form text-md-center" method="POST" action="view.php?id={{cmid}}&current=questions">
              <input type="hidden" name="action" value="add-group" />
              <input type="hidden" name="amcquiz-id" value="{{amcquiz.id}}" />
              <button type="submit" class="btn btn-primary group-add"  title="{{#str}}question_create_group_help, mod_amcquiz{{/str}}">
                <i class="fa fa-plus"></i>&nbsp;{{#str}}question_create_group, mod_amcquiz{{/str}}
              </button>
            </form>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-lg-12 sortable-group">
            {{#amcquiz.groups}}
              <div class="card group-row" data-id="{{id}}">
                <div class="card-header">
                  <div class="flex-center row">
                      <div class="col-lg-1">
                        <i class="fa fa-arrows handle"></i>
                      </div>
                      <div class="col-lg-1">
                        <h4 class="group-position">{{position}}</h4>
                      </div>

                      <div class="col-lg-9 text-lg-right">
                        <button type="button" data-context="question" title="{{#str}}question_add_from_bank_help, mod_amcquiz{{/str}}" class="btn btn-default" data-toggle="modal" data-target="#qBankModal">
                          <i class="fa fa-plus fa-fw"></i>{{#str}}question_add_from_bank, mod_amcquiz{{/str}}
                        </button>
                        {{#description}}
                          <button type="button" aria-expanded="false" data-toggle="collapse" data-target="#group-description-{{id}}" class="btn btn-default btn-collapse" title="{{#str}}question_toggle_group_description, mod_amcquiz{{/str}}">
                            <i class="fa fa-eye-slash"></i>
                          </button>
                        {{/description}}
                        {{^description}}
                          <button type="button" data-context="group" data-toggle="modal" data-target="#qBankModal" title="{{#str}}question_add_description_help, mod_amcquiz{{/str}}" class="btn btn-link group-description-add">
                              <i class="fa fa-plus"></i>
                          </button>
                        {{/description}}
                      </div>
                      <div class="col-lg-1 text-lg-right">
                        <form action="view.php?id={{cmid}}&current=questions" method="post">
                          <input type="hidden" name="group-id" value="{{id}}">
                          <input type="hidden" name="amcquiz-id" value="{{amcquiz.id}}">
                          <input type="hidden" name="action" value="delete-group">
                          <button type="submit" class="btn btn-danger group-delete"  title="{{#str}}question_delete_group, mod_amcquiz{{/str}}">
                            <i class="fa fa-trash"></i>
                          </button>
                        </form>
                      </div>
                  </div>
                </div>
                <div class="card-block">
                  <div class="group-description-container collapse" id="group-description-{{id}}">
                      <div class="row">
                          <div class="col-md-11">
                            <div class="group-description">
                                {{{description}}}
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="group-action-buttons-container">
                              <!--
                                <button type="button" data-context="group"  data-toggle="modal" data-target="#qBankModal" title="{{#str}}question_add_description_help, mod_amcquiz{{/str}}" class="btn btn-link group-description-add">
                                    <i class="fa fa-plus"></i>
                                </button>
                              -->
                                <!-- should redirect to edit page with proper return url use a form since links cant be disabled easily -->
                                <form class="text-md-center" method="GET" action="{{wwwroot}}/question/question.php">
                                  <input type="hidden" name="cmid" value="{{cmid}}" />
                                  <input type="hidden" name="returnurl" value="{{pageurl}}" />
                                  <input type="hidden" name="id" value="{{description_question_id}}" />
                                  <button type="submit" class="btn btn-link group-description-edit"><i class="fa fa-pencil"></i></button>
                                </form>
                                <!-- delete group description action -->
                                <form class="text-md-center" method="POST" action="view.php?id={{cmid}}&current=questions">
                                  <input type="hidden" name="action" value="delete-group-description" />
                                  <input type="hidden" name="group-id" value="{{id}}" />
                                  <button type="submit" class="btn btn-link group-description-delete"><i class="fa fa-trash"></i></button>
                                </form>
                            </div>
                          </div>
                      </div>
                  </div>

                  <ul class="group-question list-group">
                    {{#questions}}
                      <li data-id="{{id}}" class="question-row list-group-item align-items-center justify-content-between">
                        <div class="flex-center row">
                          <div class="col-lg-2 text-lg-center">
                            <i class="fa fa-arrows fa-fw handle"></i>
                            <span class="question-position"> {{position}} </span>
                            <span>{{# pix }} icon, {{icon_plugin_name}}, {{icon_title}} {{/ pix }}</span>
                          </div>
                          <div class="col-lg-5">
                            <div data-toggle="collapse" aria-expanded="false" data-target="#question-details-row-{{id}}" title="{{name}}">{{#shortentext}} 40, {{name}} {{/shortentext}}</div>
                          </div>
                          <div class="col-lg-2">
                            <input class="form-control question-score" pattern="[0-9]+([\.][0-9]{1,2})?" type="text" value="{{score}}" name="score"/>
                          </div>
                          <!--
                          <div class="col-lg-1">
                            <a target="_blank" class="btn btn-link"  href="{{wwwroot}}/question/preview.php?id={{id}}" title="{{#str}}question_preview_question, mod_amcquiz{{/str}}">
                              <i class="fa fa-search-plus"></i>
                            </a>
                          </div>
                          <div class="col-lg-1">
                            <button type="button" title="{{#str}}question_toggle_question_details, mod_amcquiz{{/str}}" data-toggle="collapse" aria-expanded="false" data-target="#question-details-row-{{id}}" class="btn btn-link btn-collapse"><i class="fa fa-eye-slash"></i></button>
                          </div>
                        -->
                          <div class="col-lg-3 text-lg-right">
                            <form action="view.php?id={{cmid}}&current=questions" method="post">
                                <input type="hidden" name="question-id" value="{{id}}">
                                <input type="hidden" name="action" value="delete-question">
                                <div class="btn-group">
                                  <a target="_blank" class="btn btn-link"  href="{{wwwroot}}/question/preview.php?id={{id}}" title="{{#str}}question_preview_question, mod_amcquiz{{/str}}">
                                    <i class="fa fa-search-plus"></i>
                                  </a>
                                  <button type="button" title="{{#str}}question_toggle_question_details, mod_amcquiz{{/str}}" data-toggle="collapse" aria-expanded="false" data-target="#question-details-row-{{id}}" class="btn btn-link btn-collapse">
                                    <i class="fa fa-eye-slash"></i>
                                  </button>
                                  <button type="submit" title="{{#str}}question_delete_question, mod_amcquiz{{/str}}" class="btn btn-link"><i class="fa fa-trash"></i></button>
                                </div>

                            </form>
                          </div>
                        </div>
                        <div class="collapse question-details" id="question-details-row-{{id}}">
                          <hr/>
                          <ul class="question-answers list-group">
                            {{#answers}}
                              <li class="list-group-item align-items-center justify-content-between">
                                <div class="row">
                                  <div class="col-lg-1">
                                    <i class="fa {{#valid}}fa-check{{/valid}}{{^valid}}fa-close{{/valid}}"></i>
                                  </div>
                                  <div class="col-lg-11">
                                    {{{answertext}}}
                                  </div>
                                </div>
                              </li>
                            {{/answers}}
                          </ul>
                        </div>
                      </li>
                    {{/questions}}
                    {{^questions}}
                        {{!an emty row is required}}
                        <li class="empty-question-row list-group-item justify-content-between">
                          <h5>{{#str}}question_no_question_yet, mod_amcquiz{{/str}}</h5>
                        </li>
                    {{/questions}}
                  </ul>


                </div>
              </div>
            {{/amcquiz.groups}}
          </div>
        </div>
    </div>
</div>

<!-- QBank Modal -->
<div class="modal fade" id="qBankModal" tabindex="-1" role="dialog" aria-labelledby="qBankModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" data-region="header">
        <h5 class="modal-title" id="qBankModalLabel">{{#str}}questionbank, question{{/str}}</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="categories-select">{{#str}}qbank_questions_categories, mod_amcquiz{{/str}}</label>
          <select id="amc-qbank-categories-select" class="form-control custom-select">
              {{!content added via javascript}}
          </select>
        </div>
        {{!categories dropdown end}}
        <hr/>
        {{!questions list}}
        <table id="amc-qbank-questions" class="table table-striped">
            {{!content added via javascript}}
        </table>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-lg-6 text-lg-left">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}} cancel {{/str}}</button>
          </div>
          <div class="col-lg-6 text-lg-right">
            {{!form element will be added dynamically submit...}}
            <form id="question-modal-form" action="view.php?id={{cmid}}" method="post">
                <button type="submit" class="btn btn-primary">{{#str}} add {{/str}}</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
