<div class="box informationbox well">
    <div class="box generalbox">
      <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>{{#str}}sheets_add_sheets, mod_amcquiz{{/str}}</label>
              <input type="file" class="form-control" name="sheets" value="">
            </div>
          </div>
      </div>
      <hr/>
      <div class="row">
          <div class="col-lg-12">
            <button class="btn btn-default btn-delete-sheets" type="button"><i class="fa fa-trash fa-fw"></i>{{#str}}sheets_delete_existing_sheets, mod_amcquiz{{/str}}</button>
          </div>
      </div>
    </div>
</div>
